<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Nickname:</strong>
    <%= author.nickname %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= author.bio %>
  </p>

</div>
